*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,  #9b59b6, #71b7e6);
}

.container{
    max-width: 700px;
    width: 100%;
    background: rgba(255, 255, 255,0.8);
    padding: 25px 30px;
    border-radius: 5px;
}
.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.title::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user__details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.user__details .input__box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.input__box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 0.75rem;
}
.input__box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: solid #ccc 1px;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.input__box input:focus,
.input__box input:valid{
    border-color: #9b596b;
}
form .gender__details .gender__title{
    font-size: 20px;
    font-weight: 500;
}
form .gender__details .category{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 14px 0;
}
.gender__details .category label{
    display: flex;
    align-items: center;
}
.gender__details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
.gender__details{
    margin-bottom: 2rem;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}

form .button {
    display: flex;
    height: 4rem;
    position: relative;
    width: 60%;
    margin: 4px auto;
    text-align: center;
    justify-content: center;
    outline-color: none;
    align-items: center;
    color: black;
    border: none;
    font-size: 18px;
    background-color: rgb(127, 47, 255);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    overflow: hidden;
}
form .button:hover{
}
.button__submit{
    position: relative;
    color: #000000;
    z-index: 1;
    transition: 2.5s;
    text-transform: uppercase;
}
.button:hover .button__submit{
    color: #fff;
}
.wave{
    position: absolute;
    top: calc(100% + 22px);
    left: 0;
    width: 100%;
    height: 100%;
    background: #00aeff;
    transition: 2.5s;
}
.wave:before{
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url('../images/wave-button.png');
    animation: animate 0.5s linear infinite;
}
.button:hover .wave{
    top: 0;

}
@keyframes animate{
    0%{
        background-position-x: 0;

    }100%{
        background-position-x: 118px;

    }
}
.img{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.img img{
    width: 700px;
}
.img-wave{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -10;
}
.img-wave img{
    width: 750px;
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user__details .input__box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender__details .category{
        width: 100%;
    }
    .container form .user__details{
        max-height: 225px;
        overflow-y: scroll;
    }
    .user__details::-webkit-scrollbar{
        width: 0;
    }

    .img img{
        width: 300px;
    }
    
    .img-wave img{
        width: 600px;
    }
}
